<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Official CivilizationCraft Wiki</title>
    <link rel="stylesheet" href="css/mainpage.css">
</head>
<body class="background">
       {{template "header"}}
       <div class="maingrid">
           <div>
               <div class="heading">
                   About CivilizationCraft
               </div>
               <p>CivilizationCraft is a game that allows you to create your own Civilizations in Minecraft!
                   Just like in Civilization, you have to research and build up your Civ. However,
                   the game is played from a first-person perspective, you can make your own items,
                   and you can work together with a team of other players!</p>
           </div>
           <div>
               <div class="heading">
                   Homepage
               </div>
               <ul>
                   <li><a href="https://discord.gg/hUAfPmS">https://discord.gg/hUAfPmS</a></li>
                   <li><a href="https://www.lostshard.net">https://www.lostshard.net</a></li>
               </ul>
           </div>
           <div>
               <div class="heading">
                   Camp
               </div>
               <ul>
                   <li>
                       <b>Camp Structures</b>
                       <ul>
                           <li>
                               <a href="/camp">Camp</a>
                           </li>
                           <li>
                               <a href="/trader">Trader</a>
                           </li>
                            <li>
                                <a href="/enchanter">Enchanter</a>
                            </li>
                           <li>
                               <a href="/enhancer">Enhancer</a>
                           </li>
                           <li>
                               <a href="/barn">Barn</a>
                           </li>
                           <li>
                               <a href="/sifter">Sifter</a>
                           </li>
                           <li>
                               <a href="/recontower">Recon Tower</a>
                           </li>
                           <li>
                               <a href="/cabin">Cabin</a>
                           </li>
                           <li>
                               <a href="/longhouse">Longhouse</a>
                           </li>
                       </ul>
                   </li>
               </ul>
           </div>
           <div>
               <div class="heading">
                   Getting Started
               </div>
               <p>Your main goal in CivCraft is to build your way from a small camp to a conquering empire and claim victory!</p>

               <p>Just like the Sid Meier's Civilization games, you have to research your way through the Technology Tree to move
                   through the different technological eras and gain access to better buildings.
                   All the buildings are built for you and provide your Civ with the resources and bonuses you need throughout the game. </p>

               <p> Expand your claim on the map by training settlers to build more towns.
                   Take advantage of nearby trade goods to give your Civ perks. Become a trade town and set up a market,
                   grocery and bank for other players to use.  Build and upgrade your gear in preparation for the weekly war
                   so you can conquer smaller Civs or delay larger Civs from reaching victory.  Plan your town layout for maximum efficiency,
                   a defense, or just to look the best! </p>

               <p> So whether you join the server with a group of friends with the intention to win, join an existing Civ to learn from the veterans, or break from the meta and create your own strategies, now is the time to get hooked on CivilizationCraft!</p>
           </div>
           <div>
               <div class="heading">
                   Tutorials
               </div>
               <ul>
                   <b>Tutorials</b>
                   {{template "tutorialcolumn"}}
               </ul>

           </div>
           <div>
               <div class="heading">
                   Mechanics
               </div>
               <div class="doublegrid">
                   <div class="box1">
                       <ul>
                           <b>Town Mechanics</b>
                           {{template "townmechanicscolumn"}}
                       </ul>
                   </div>
                   <div class="box2">
                       <ul>
                           <b>Civ Mechanics</b>
                           {{template "civmechanicscolumn"}}
                       </ul>
                   </div>
               </div>

           </div>

       </div>

</body>
</html>