<!doctype html>
<html lang="en">

<head>

    <style type = text/css>
        .tech-tree-container {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(15, 1fr);
        }

    </style>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Civilizationcraft Alpha 1.0 Techtree</title>

</head>
<body>
        <!-- could use a loop for this, but I would rather have full control -->
        <!-- titles -->
        <div class="title title-prehistoric">
            <b>Prehistoric Era | 10000 BC</b>
        </div>

        <div class="title title-ancient">
            <b>Ancient Era | 3000 BC</b>
        </div>

        <div class="title title-classical">
            <b>Classical Era | 800 BC</b>
        </div>

        <div class="title title-medieval">
            <b>Medieval Era | 400 AD</b>
        </div>

        <div class="title title-renaissance">
            <b>Renaissance Era | 1400 AD</b>
        </div>

        <div class="title title-industrial">
            <b>Industrial Era | 1760 AD</b>
        </div>

        <div class="title title-information">
            <b>Information Era | 1900 AD</b>
        </div>

        <div class="title title-artificial-intelligence">
            <b>Artificial Intelligence Era | 2060 AD</b>
        </div>

        <div class="tech-religion">
            <p><b><u>Religion</u></b></p>
            <p>Monument</p>
            <p></p>
            <p></p>
            <p>2500 coins | 500 beakers</p>
        </div>

        <div class="tech-armory">
            <p><b><u>Armory</u></b></p>
            <p>Barracks</p>
            <p></p>
            <p></p>
            <p>5000 coins | 625 beakers</p>
        </div>

        <div class="tech-mining">
            <p><b><u>Mining</u></b></p>
            <p>Trommel</p>
            <p></p>
            <p></p>
            <p>5000 coins | 625 beakers</p>
        </div>

        <div class="tech-agriculture">
            <p><b><u>Agriculture</u></b></p>
            <p>Trommel</p>
            <p></p>
            <p></p>
            <p>5000 coins | 625 beakers</p>
        </div>

        <div class="tech-written-laws">
            <p><b><u>Written Laws</u></b></p>
            <p>Bank</p>
            <p></p>
            <p></p>
            <p>5000 coins | 625 beakers</p>
        </div>


        <div class="tech-singularity">
            <p><b><u>Written Laws</u></b></p>
            <p>Bank</p>
            <p></p>
            <p></p>
            <p>5000 coins | 625 beakers</p>
        </div>

</body>
</html>